<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
   <header>
      <% if can? :manage, :all %>
         <div id="admin">
            <ul id="left">
               <li><%= link_to "Posts", posts_path %></li>
               <li><%= link_to "New Post", new_post_path %></li>
               <li><%= link_to "Users", users_path %></li>
            </ul>
         </div>
      <% end %>
      <h1></h1>
   </header>
   
   <div id="content">
      <%= yield %>
   </div>
</div>

</body>
</html>
